.container-nav-header {
  display: flex;
  flex-direction: column;
}


.container-header {
  height: 50%;
  width:39%;
  text-align: center;
  padding-top: 2%;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  margin-left: 6%;
  margin-top: 12%;

}
 
.name-header {
  color: antiquewhite;
  font-size: larger;
  text-align:center;
}

@media only screen and (min-width: 757px) and (max-width: 1333px){

  .container-header{
    width: 100%;
    margin: 0%;
    padding-top: 20%;

  }
}
