.container-nav-header {
  display: flex;
  flex-direction: column;
}


.container-header {
  height: 50%;
  width: 50%;
  text-align: center;
  padding-top: 140px;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  margin-left: 50px;
  margin-top: 12%;

}
 
.name-header {
  color: antiquewhite;
  font-size: larger;
  text-align:center;
}

@media only screen and (min-width: 200px) and (max-width: 1082px){

  .container-header{
    width: 100%;
    margin: 0%;

  }
}
